* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
}

h1, h3, h4 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2, p, footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 10px;
    background-color:#ccf0d8;
    height: 10%;
    width: 100%;
}

#navigation {
    position: relative;
    width: 20%;
    height: 100%;
    right: 10%;
    text-align: center;
    font-size: 12px;
    float:right;
}

.nav {
    float: left;
    padding: 10px;
    margin-top: 15px;
    border-right-style: solid;
    border-right-color: #0e1a6f;
    border-right-width: 1px;
}

.navEnd {
    float: left;
    padding: 10px;
    margin-top: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#name {
    position: relative;
    width: 20%;
    height: 100%;
    left: 10%;
    background-color:#0e1a6f;
    color: white;
    text-align: center;
    padding:17px 0px;
    font-size: 32px;
    float: left;
}

#wrapper {
    width: 960px;
    position: relative;
    top: 100px;
    margin: auto;
}

aside {
    width: 270px;
    float: right;
    background-color: rgb(228, 229, 226);
}

#connect {
    width: 80%;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
}

h4 {
    color: #0e1a6f;
    font-size: 24px;
    border-bottom-style: solid;
    border-bottom-color: #0e1a6f;
    border-bottom-width: 2px;
    text-align: center;
}

#links {
    width: 65%;
    margin: auto;
    margin-bottom: 200px;
}

.rightLink {
    float: left;
    height: 33%;
    width: 33%;
    padding: 5%;
}

#aboutTitle {
    width: 85%;
    margin: auto;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #0e1a6f;
    border-bottom-width: 2px;
    margin-bottom: 25px;
}

h3 {
    font-size: 32px;
    color: #0e1a6f;
    padding: 10px;
}

section {
    width:  650px;
    float: left;
    background-color: rgb(228, 229, 226);
    padding-bottom: 10%;
}

#profilePicture {
    width: 40%;
    height: 40%;
    float: left;
    margin-left: 7.5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #ccf0d8;
    color: #0e1a6f;
    border-top-style: solid;
    border-top-color: #0e1a6f;
    border-top-width: 2px;
}

h5 {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
}